<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Mobile version</title>
</head>
<body>
    <ul>
        <li><a >Home</a></li>
        <li><a >Planer</a></li>
        <li><a >Game</a></li>
        <li><a >Chat</a></li>
        <li><a >Musik</a></li>
        <li><a >Mate</a></li>
        <li><a >Settigs</a></li>
      </ul>
      
    <p>mobile version of party controll</p>
    <div id="home">
        <h1>Home</h1>
    </div>
    <div id="game">
        <h1>Game</h1>
        <div id="game_point">
            <p>point</p>
        </div>
        <div id="game_time">
            <p>time</p>
        </div>
        <div id="game_team">
            <p>team</p>
        </div>
    </div>
    <div id="chat">
        <h1>Chat</h1>
        <div id="chat_generell">
            <p>generell</p>
        </div>
        <div id="chat_direct">
            <p>direct</p>
        </div>
        <div id="chat_team">
            <p>team</p>
            <button id="pb_create_team">Create</button>
            <button id="pb_join_team">join</button>
            <button id="pb_delete_team">delete</button>
        </div>
    </div>
    <div id="planer">
        <h1>Planer</h1>
    </div>
    <div id="mate">
        <h1>Mate</h1>
    </div>
    <div id="settings">
        <h1>Settings</h1>
        <label for="dark_select">Dark-/ligt-mode</label>
        <select id="dark_select">
            <option value="dark">Dark Mode</option>
            <option value="light">Light Mode</option>
            <option value="system">System</option>
            <option value="custom">Custom</option>
        </select>
    </div>
</body>
</html>