<!DOCTYPE html>
<html>
<head>
    <title>Partycontroller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/session.css">
</head>
<body>
    {% block content %}   
 <div class="top-bar"></div>
    
    <div class="content">
        <h1>Huhu</h1>
    </div>
    
    <img class="userlogo" src="/static/icons/user.png" alt="Logo">
    <img class="logo" src="/static/icons/icon.png" alt="Logo">
    
    <!--System Informationen -->
    <img class="cpulogo" src="/static/icons/cpu.png" alt="Logo">
    <img class="ramlogo" src="/static/icons/ram.png" alt="Logo">
    <img class="temperaturlogo" src="/static/icons/temperatur.png" alt="Logo">
    <p class="cpuinfo"> %</p>
    <p class="raminfo"> %</p>
    <p class="tempinfo"> C°</p>
    
    <p class="eventinfo">Nächstes Event: </p>
    
    <p id="peter" class="peter" onclick="togglePopup()">Peter</p> <!-- Hinzugefügtes "onclick"-Attribut -->
    
    <p class="songinfo">Song: </p> 
    <div class="topnext" onclick=""></div>
    <div class="topback" onclick=""></div>
    <div class="toppause" onclick=""></div>
     
    <!-- ... (Dein vorhandener HTML-Code) ... -->

     <div class="button-container">
        <div class="seitenbutton" onclick="toggleDiv(1)"></div>
        <div class="seitenbutton" onclick="toggleDiv(2)"></div>
        <div class="seitenbutton" onclick="toggleDiv(3)"></div>
        <div class="seitenbutton" onclick="toggleDiv(4)"></div>
        <div class="seitenbutton" onclick="toggleDiv(5)"></div>
        <div class="seitenbutton" onclick="toggleDiv(6)"></div>
        <div class="seitenbutton" onclick="toggleDiv(7)"></div>
    </div>
    
    <!-- Div-Inhalte -->
    <div class="hidden-div">
        <h1>Home</h1>
        <p>Huhu</p>
    </div>
    <div class="hidden-div">
        <h1>Planer</h1>
        <table id="events">
	<tbody>
	<tr>
	<td>Event</td>
	<td>Zeit</td>
	<td>Status</td>
	</tr>
	<tr>
	<td>f</td>
	<td>f</td>
	<td>f</td>
	</tr>
	</tbody>
	</table>
	<form action="/apit/get_events">
		<input class="event_input" typ="text" name="Event" placeholder="Essen" maxlength="20" minlength="1" required>
		<input class="event_time" type="datetime-local" id="meeting-time"
	       name="meeting-time" value="2023-12-31T12:00"
	       min="2023-12-31T00:00" max="2024-01-01T18:00" required>
          <button class="submit_button" type="submit">Hinzufügen</button>
	</form>
    </div>
    <div class="hidden-div">
        <h1>Games</h1>
        <p>Spiele</p>
    </div>
    <div class="hidden-div">
        <h1>Chat</h1>
        <p>Nachrichten</p>
    </div>
    <div class="hidden-div">
        <h1>Musik</h1>
        <p>Musik lol</p>
    </div>
    <div class="hidden-div">
        <div id="mate-container">
            <h1>Mate</h1>
            <table id="mate_kiste">
            </table>
        </div>
    </div>
    <div class="hidden-div">
        <h1>Einstellungen</h1>
        <p>Einstellen</p>
    </div>

    <!-- ... (Dein vorhandener HTML-Code) ... -->
     <!-- Hinzugefügter HTML-Code für den ausfahrbaren Kasten -->
    <div class="popup" id="popup">
        <div class="popup-content">
            <span onclick="togglePopup()" class="close-button">Close</span>
            <p>Hier könntest du logout machen</p>
        </div>
    </div>
    
     <footer style="position: fixed; bottom: 0; width: 100%; background-color: #333; color: rgb(220, 220, 210); text-align: center; padding: 10px;">
        <div>Partycontroller Version 0.1</div>
        <div>&copy; Lostkids</div>
    </footer>
    {% endblock %}
    <script src="{{url_for('static', filename='js/session.js')}}"></script>
</body>
</html>

