summary::-webkit-details-marker,	
summary::marker {
  content:  ""; /* Verwendung des "Pfeil"-Symbols anstelle des Dreiecks */
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: bold;
  transition: all 0.5s;  
}	


details[open] summary::-webkit-details-marker,
details[open] summary::marker {
  content:  "  ";

}