<html>
    <head>
        <title>	&#x2699;&#xFE0F; controll</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
           
    </head>
    <body>
        <center>
            <h1>Einstellungen</h1>
        <div id="LED">
            <h3>Setze eine Fabe für die LEDs</h3>
            <label for="colorpicker">Led Streifen:</label>
            <input type="color" id="colorpicker" value="#0000ff">

        </div>
        <div id="userVerwaltung">
            <h3>User Verwaltung</h3>
            <p>An dieser Stelle sollen später die User angezeigt werden, und der Session Admin kann diese dann verwalten</p>
        </div>

        <button onclick="save()">&#x1F4BE;</button>
        <script>
            function save(){


            }
        </script>
    </center>
    </body>
</html>