<html>
    <head>
        <title>	&#x2699;&#xFE0F; controll</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
           
    </head>
    <body>
        <center>
            <h1>Einstellungen</h1>
            <p>Diese können später auch verändert werden</p>
        <div id="LED">
            <h3>Setze eine Fabe für die LEDs</h3>
            <label for="colorpicker">Led Streifen:</label>
            <input type="color" id="colorpicker" value="#0000ff">

        </div>
        <div id="Planer">
            <h3>Planer</h3>
            <p>Füge ein Event ein</p>
            <form class="modal-content animate" action="http://127.0.0.1:5000/get_event" method="POST">  
                <div class="container">   
             
                    <input type="text" placeholder="Tomb Raider spielen" name="event" required>  
                    
                    <input type="text" placeholder="15:30" name="zeit" required>  
                    <button type="submit">hinzufügen</button>        
                    <a href="javascript:history.back()">
                        <button type="button" class="cancelbtn"> Cancel</button>  
                </div>   
        </div>
        <div id="userVerwaltung">
            <h1>User Verwaltung</h1>
            <p>An dieser Stelle sollen später die User angezeigt werden, und der Session Admin kann diese dann verwalten</p>
        </div>

        <button onclick="save()">Änderungen speichern</button>
        <script>
            function save(){


            }
        </script>
    </center>
    </body>
</html>