<html>
    <head>
        <title>Create Session</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    </head>
    <body>
       <center><h1>Create Session</h1></center> 
            <form class="modal-content animate" action="http://127.0.0.1:5000//get_creat_session" method="POST">  
        <div class="container">   
            <label>Session name : </label>   
            <input type="text" placeholder="Enter Session name" name="sessionname" required>  
            <label>Session Id : </label>   
            <input id="idIn" type="text" placeholder="Session Id" name="sessionid" required>  
            <button type="submit" onclick="setID()">create</button>   
            <a href="javascript:history.back()">
                 <button type="button" class="cancelbtn"> Cancel</button>   
            </a>
        </div>   
    </form>
        <script>
            function setID() {
                let sessID = document.getElementById("idIn").value
                console.log(sessID)
                window.sessionStorage.setItem("sessionID", sessID)
            }

            function setUID3() {
                let sessID = document.getElementById("Uid1").value
                window.sessionStorage.setItem("userID", "1")
            }
        </script>
    </body>
</html>  