<html>
    <head>
        <title>Join Session</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">

        <style>
            summary::-webkit-details-marker,	
            summary::marker {
              content:  ""; /* Verwendung des "Pfeil"-Symbols anstelle des Dreiecks */
              color: rgb(0, 0, 0);
              font-size: 2em;
              font-weight: bold;
              transition: all 0.5s;  
            }	


            details[open] summary::-webkit-details-marker,
            details[open] summary::marker {
              content:  "  ";

            }
        </style>
    </head>
    <body>
        <center><h1>Join Session</h1></center> 
        <center>
        <details>

        <summary>
           <h4>Login</h4>
        </summary>
     
        <form class="modal-content animate" action="http://127.0.0.1:5000/get_login" method="POST">  
            <div class="container">   
                <label>Username : </label>   
                <input type="text" placeholder="Enter Username" name="username" required>  
            </br>
            <label>UserId : </label>   
            <input id="Uid" type="text" placeholder="UserID" name="userID" required>  
            </br>
                <label>Session Id : </label>   
                <input id="id1"type="text" placeholder="Session Id" name="sessionID" required>  
        </br>
                <button type="submit" onclick="setUID()">Login</button>     
            </center>   
            </div>   
        </form>  
        </details>   

        <center>
        <details>
            <summary id="test"><h4>User erstellen</h4></summary>

            <form class="modal-content animate" action="http://127.0.0.1:5000/new" method="POST">  
                <div class="container">   
                    <label>Username : </label>   
                    <input type="text" placeholder="Enter Username" name="username" required>  
                </br>
                    <label>UserId : </label>   
                    <input id="Uid1" type="text" placeholder="UserID" name="userID" required>  
                </br>
                    <label>Session Id : </label>   
                    <input id="id2"type="text" placeholder="Session Id" name="sessionID" required>  
                </br>
                <button type="submit" onclick="setUID1()">Login</button>   
                    </center>
                </div>   
            </form>   
        </details>
        <center>
            <a href="javascript:history.back()">
            <button type="button" class="cancelbtn"> Cancel</button>  
        </center>
        <script>
            function setUID() {
                let sessID = document.getElementById("Uid").value
                window.sessionStorage.setItem("userID", sessID)
            }

            function setUID1() {
                let sessID = document.getElementById("Uid1").value
                window.sessionStorage.setItem("userID", sessID)
            }

            function setID1() {
                let sessID = document.getElementById("id1").value
                window.sessionStorage.setItem("sessionID", sessID)
            }

            function setID2() {
                let sessID = document.getElementById("id1").value
                window.sessionStorage.setItem("sessionID", sessID)
            }
        </script>
    </body>     
</html>  