<html>
    <head>
        <title>Join Session</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    </head>
    <body>
       <center><h1>Join Session</h1></center> 
       <center><h4>Login</h4>
<form class="modal-content animate" action="http://127.0.0.1:5000/get_login" method="POST">  
    <div class="container">   
        <label>Username : </label>   
        <input type="text" placeholder="Enter Username" name="username" required>  
    </br>
        <label>Session Id : </label>   
        <input type="text" placeholder="Session Id" name="id" required>  
</br>
        <button type="submit">Login</button>     
    </center>   
    </div>   
</form>     

<center><h4>User erstellen</h4>
<form class="modal-content animate" action="http://127.0.0.1:5000/new" method="POST">  
    <div class="container">   
        <label>Username : </label>   
        <input type="text" placeholder="Enter Username" name="username" required>  
    </br>
        <label>Session Id : </label>   
        <input type="text" placeholder="Session Id" name="id" required>  
    </br>
        <button type="submit">Login</button>        
        <a href="javascript:history.back()">
            <button type="button" class="cancelbtn"> Cancel</button>  
        </center>
    </div>   
</form>   

<script src="html5-qrcode.min.js"></script>
<div style="width: 500px" id="reader"></div>
<script>

var html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250 });
        
function onScanSuccess(decodedText, decodedResult) {
    // Handle on success condition with the decoded text or result.
    console.log(`Scan result: ${decodedText}`, decodedResult);
    // ...
    html5QrcodeScanner.clear();
    // ^ this will stop the scanner (video feed) and clear the scan area.
}

html5QrcodeScanner.render(onScanSuccess);

</script>
</body>     
</html>  