<html>
    <head>
        <title>logout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    </head>
    <body>
        <center>
            <h1>Adios</h1>
            <a href="http://127.0.0.1:5000/">
                <button class="btn btn-primary btn-lg">Home</button>
            </a>
        </center>
    </body>
</html>