<html>
    <head>
        <title>Passwort vergessen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
        Body {  
        
        background-image: linear-gradient(to right, rgb(38, 134, 62), rgb(89, 89, 175))
        
        }  
        </style>
    </head>
    <body>
       <center><h1>Please Contact the Session Admin</h1>
       <a href="javascript:history.back()">Go back</a></center> 
    </body>
</html>