<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <title>Planer</title>
</head>
<body>
    <center>
        {% block content %}
        <h1>{% block title %} Planer{% endblock %}</h1>
        
        {% for post in asd %}

            <p>{{ asd }}</p>
  
        <hr>
    {% endfor %}
    {% endblock %}
    <p>Füge ein Event ein</p>
            <form class="modal-content animate" action="/get_planer" method="POST">  
                <div class="container">   
             
                    <input type="text" placeholder="Tomb Raider spielen" name="event" required>  
                    
                    <input type="time" placeholder="15:30" name="zeit" required>  
                    <button type="submit">&#10133;</button>        
                </div>  
            </form> 

        </center>
        </body>
</html>