<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <title>Session</title>
</head>
<body>
    <center>
        
        <h1> Session Information</h1>
       
    <label>User Anzahl, Uptime, Creator:</label>
    <img src="/static/img/user.png" width="60" height="60">
    {% block content %}
        <p>{{das}}</p>
        <p>{{der}}</p>
 
         <p>{{er}}</p>
    <h1>QR-Code</h1>
    {% endblock %}

    <img src="../static/img/qr.png"
    
</center>
</body>
</html>