<!DOCTYPE html>
<html lang="de">
<html>

<head>
	<title>&#127881; Party</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">

</head>

<body>
	<a href="http://127.0.0.1:5000/logout">
		<button class="btn btn-primary btn-lg">Logout</button>
	</a>
	</div>
	<label class="switch">
		<input type="checkbox" onclick="myFunction()">
		<span class="slider round"></span>
	</label>
	<script>
		function myFunction() {
			var element = document.body;
			element.classList.toggle("dark-mode");
		}
	</script>
	<center>
		<a onclick="change_div('_planer')">
			<button class="btn btn-primary btn-lg">Planer</button>
		</a>
		<a onclick="change_div('_game')">
			<button class="btn btn-primary btn-lg">Game</button>
		</a>
		<a onclick="change_div('_chat')">
			<button class="btn btn-primary btn-lg">Chat</button>
		</a>
		<a onclick="change_div('_mate')">
			<button class="btn btn-primary btn-lg">Mate</button>
		</a>
		<a onclick="change_div('_seession')">
			<button class="btn btn-primary btn-lg">Session</button>
		</a>
		<a onclick="change_div('_controll')">
			<button class="btn btn-primary btn-lg">Settings</button>
		</a>

		<div hidden class="tmplt_tab" id="_planer">
			{% block content %}

			<table>
				<tr>
					<th>Event</th>
					<th>Zeit</th>
					<th>Status</th>
				</tr>
				{% for i in range(eventdata.eventname|length) %}
				<tr>
					<td>{{ eventdata.eventname[i] }}
					<td>{{ eventdata.eventzeit[i] }}</td>
					<td>Status</td>
				</tr>
				{% endfor %}
			</table>
			<p>Füge ein Event ein</p>
			<form class="modal-content animate" action="/get_planer" method="POST">
				<div class="container">
					<input type="text" placeholder="Tomb Raider spielen" name="event" required>
					<input id="planerSID" type="hidden" placeholder="sessionID" name="sessionID" required>
					<script type="text/javascript">
						var sid = sessionStorage.getItem("sessionID")
						document.getElementById('planerSID').value = sid; 				
					</script>
					<input type="time" placeholder="15:30" name="zeit" required>
					<button type="submit">&#10133;</button>
				</div>
			</form>
		</div>
		<div hidden class="tmplt_tab" id="_game">

			<div class="wrapper">
				<center>
					<h1><time>00:00:00</time></h1>
					<button id="strt">start</button>
					<button id="stp">stop</button>
					<button id="rst">reset</button>

					<form class="modal-content animate" action="http://127.0.0.1:5000/stopuhr" method="POST">
						<div class="container">
							</br>
							<input type="text" placeholder="Tomb Raider" name="spiel" required>
							<input type="text" placeholder="parcour" name="art" required>
							<input type="text" placeholder="00:00:40" name="zeit" required>
							<input id="gameSID" type="hidden" placeholder="Session ID" name="sessionID" required>
							<script type="text/javascript">
								var sid = sessionStorage.getItem("sessionID")
								document.getElementById('gameSID').value = sid; 				
							</script>
							<input id="gameUID" type="hidden" placeholder="UserID" name="userid" required>
							<script type="text/javascript">
								var sid = sessionStorage.getItem("sessionID")
								document.getElementById('gameUID').value = sid; 				
							</script>
							</br>
							<button type="submit">&#10133;</button>
							</br>
						</div>
					</form>
				</center>
			</div>
			<div id="statistik">

				<table>
					<tr>
						<th>Spieler</th>
						<th>Game</th>
						<th>Aktivität</th>
						<th>Zeit</th>
					</tr>
					{% for i in range(gameda.user|length) %}
					<tr>
						<td>{{ gameda.user[i] }}</td>
						<td>{{ gameda.game[i] }}</td>
						<td>{{ gameda.aktivitaet[i] }}</td>
						<td>{{ gameda.zeit[i] }}</td>
					</tr>
					{% endfor %}
				</table>

			</div>
		</div>
		<div hidden class="tmplt_tab" id="_chat">
			<iframe id="ifr" src="/message" width="800" height="450" frameBorder="0"></iframe>
			<div id="userNameEntryDiv">
				<input type="text" placeholder="Username..." id="userNameEntry">
				<button id="chatUsernameButton" onclick="join_chat()">Join chat</button>
			</div>
			<form class="modal-content animate" action="http://127.0.0.1:5000/chat" method="POST">
				<div class="container">
					<input type="text" placeholder="Hallo Welt" name="message" required>
					<button type="submit">
						&#10148;
					</button>
				</div>

			</form>
		</div>
		<div hidden class="tmplt_tab" id="_mate">
			<p>folgende Mateflaschen sind auf Lager {{ mate }} </p>
			<p>Bitte Beachte: <b>Erhöhter Koffeingehalt. Für Kinder und schwangere oder stillende Frauen nicht empfolen</b>
			</p>
			<details>
				<summary id="mate">
					<h4>Mate hinzufügen</h4>
				</summary>
				<form class="modal-content animate" action="http://127.0.0.1:5000/mate" method="POST">

					<div class="container" style="margin-top: 2em">
						<input type="text" placeholder="Mate Flaschen Anzahl" name="mateFlaschen" required>
						</br>
						<input type="text" placeholder="Mate Marke" name="mateSorte" required>
						</br>
						<input id="mate_sID" type="hidden" placeholder="SessionID" name="sessionID" required>
						<script type="text/javascript">
							var sid = sessionStorage.getItem("sessionID")
							document.getElementById('mate_sID').value = sid; 				
						</script>
						</br>
						<button type="submit">
							&#10133;
						</button>

					</div>
				</form>
			</details>
			<details>
				<summary id="mate">
					<h4>Mate trinken</h4>
				</summary>
				<form class="modal-content animate" action="http://127.0.0.1:5000/drink" method="POST">

					<div class="container" style="margin-top: 2em">
						<input type="text" placeholder="Mate Flaschen Anzahl" name="mateFlaschen" required>
						</br>
						<input type="text" placeholder="Mate Marke" name="mateSorte" required>
						</br>
						<input id="mate_sID" type="hidden" placeholder="SessionID" name="sessionID" required>
						<script type="text/javascript">
							var sid = sessionStorage.getItem("sessionID")
							document.getElementById('mate_sID').value = sid; 				
						</script>
						</br>
						<button type="submit">
							&#x1F379;
						</button>

					</div>
				</form>
			</details>
		</div>
		<div hidden class="tmplt_tab" id="_seession">
			<h1> Session Information</h1>
			<img src="/static/img/user.png" width="60" height="60">
			<p id="user"></p>

			<p>Useranzahl: {{useranzahl}}</p>
			<p>Uptime: {{der}}</p>

			<p>Creator: Host</p>

			{% endblock %}

			<details>
				<summary id="QR">
					<h1>QR-Code</h1>
				</summary>

				<img src="../static/img/qr.png">
			</details>
		</div>
		<div hidden class="tmplt_tab" id="_controll">

			<div id="LED">
				<h3>Setze eine Fabe für die LEDs</h3>
				<label for="colorpicker">Led Streifen:</label>
				<input type="color" id="colorpicker" value="#0000ff">
			</div>
			<div id="userVerwaltung">
				<h3>User Verwaltung</h3>
				<table>
					<tr>
						<th>UserID</th>
						<th>User</th>
						<th>Status</th>
					</tr>
					{% for i in range(userdat.unames|length) %}
					<tr>
						<td>{{ userdat.unames[i] }}</td>
						<td>{{ userdat.uids[i] }}</td>
						<td>Online</td>

					</tr>
					{% endfor %}
				</table>
			</div>

			<button onclick="save()">&#x1F4BE;</button>
	</center>


	<script src="{{url_for('static', filename='js/general.js')}}"></script>
	<script src="{{url_for('static', filename='js/control.js')}}"></script>
	<script src="{{url_for('static', filename='js/chat.js')}}"></script>
	<script src="{{url_for('static', filename='js/game.js')}}"></script>
</body>

</html>