<!DOCTYPE html>
<html lang="de">
<html>
<head>
<title>&#127881; Party</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">

</head>

<body>
  
  
  <a href="http://127.0.0.1:5000/logout">
          <button class="btn btn-primary btn-lg">Logout</button>
       </a>
       <label class="switch">
         <input type="checkbox" onclick="myFunction()">
         <span class="slider round"></span>
       </label>
       <script>
         function myFunction() {
            var element = document.body;
            element.classList.toggle("dark-mode");
         }
         </script>
       <center>
       <a onclick= "change_Iframe('/planer')">
          <button class="btn btn-primary btn-lg">Planer</button>
       </a>
       <a onclick= "change_Iframe('/game')">
          <button class="btn btn-primary btn-lg">Game</button>
       </a>
       <a onclick= "change_Iframe('/chat')">
          <button class="btn btn-primary btn-lg">Chat</button>
       </a>
       <a onclick= "change_Iframe('/seession')">
          <button class="btn btn-primary btn-lg">Session</button>
       </a>
       <a onclick= "change_Iframe('/controll')">
          <button class="btn btn-primary btn-lg">Settings</button>
       </a>
      </center>
       
      
    <center><iframe id="ifr" src="/willkommen" width="1800" height="800" frameBorder="0" src= pfad></iframe></center>
    <script>
          function change_Iframe(pfad)
          {
              var  pfad;
              var i = document.getElementById("ifr").src = pfad;
              var el = document.getElementById('ifr');
              el.scrollIntoView(true);
          }

      </script>


</body>
</html>
