<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <title>Willkommen</title>
</head>
<body>
    <center><h1>Willkommen bei</h1>
        {% block content %}
        <p>{{die}}</p>
        {% endblock %}
    <h3>Regeln</h3>
    <p>&#8226; 1.Freundlich sein</p>
    <p>&#8226; 2.Nichts Illegales machen</p>
    <p>&#8226; 3.Spaß haben</p>   
    </center>
</body>
</html>