<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    <title>Willkommen</title>
</head>
<body>
    <center><h1>Willkommen</h1>
    <p>Vielen Dank das du Party-Controller benutzt</p>
    <h3>Regeln</h3>
    <p>&#8226; F</p>
    <p>&#8226; F</p>
    <p>&#8226; F</p>
    <p>&#8226; F</p>
    <p>&#8226; F</p>
    <p>&#8226; F</p>
    <p>&#8226; F</p>
    
    </center>
</body>
</html>