body {
    margin: 0;
    padding: 0;
    background-color: #0d0d0c;
    color: #635e5c;
}

/* Oberer Balken, der Infos anzeigt*/
.top-bar {
    background-color: #333;
    height: 5%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    margin-top: 2%;
    padding: 20px;
}

/* Optionaler Stil für den Seiteninhalt */
h1 {
    color: #635e5c;
    text-align: center;
    text-shadow: 2px 2px 4px #800000;
}

p {
    color: #ccc;
}

/* Username in dem Balken*/
.peter {
    position: fixed;
    top: 0;
    right: 0.5%;
    color: rgb(220, 220, 210);
    font-size: 100%;
    cursor: pointer; /* Hinzugefügter CSS-Stil für den Klick */
}

/*Event info im Balken*/
.eventinfo {
    position: fixed;
    top: 0;
    left: 10%;
    color: rgb(220, 220, 210);
    font-size: 100%;
    cursor: pointer; /* Hinzugefügter CSS-Stil für den Klick */
}


/*Systeminformationen im Balken*/
 .cpuinfo {
    position: fixed;
    top: 0;
    right: 7%;
    color: rgb(220, 220, 210);
    font-size: 100%;
    cursor: pointer; /* Hinzugefügter CSS-Stil für den Klick */
}
.raminfo {
    position: fixed;
    top: 0;
    right: 17%;
    color: rgb(220, 220, 210);
    font-size: 100%;
    cursor: pointer; /* Hinzugefügter CSS-Stil für den Klick */
}
.tempinfo {
    position: fixed;
    top: 0;
    right: 27%;
    color: rgb(220, 220, 210);
    font-size: 100%;
    cursor: pointer; /* Hinzugefügter CSS-Stil für den Klick */
}
   .musik {
    position: fixed;
    top: 0;
    right: 4%;
    color: rgb(220, 220, 210);
    font-size: 100%;
    cursor: pointer; /* Hinzugefügter CSS-Stil für den Klick */
}

.logo {
    position: fixed;
    top: 0;
    left: 0.5%;
    height: 5%;
}

.userlogo {
    position: fixed;
    top: 1%;
    right: 2.5%;
    height: 3%;
}

 .cpulogo {
    position: fixed;
    top: 1%;
    right: 10%;
    height: 2.5%;
}
 .ramlogo {
    position: fixed;
    top: 1%;
    right: 20%;
    height: 2.5%;
}
 .temperaturlogo {
    position: fixed;
    top: 1%;
    right: 30%;
    height: 2.5%;
}

/*Musik steuerung im Balken*/
 .topnext {
    position: fixed;
    top: 1%;
    left: 40%;
    width: 70px;
    height: 30px;
    background-color: #454443;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-image: url('/static/icons/next.png');
}
  .topback {
    position: fixed;
    top: 1%;
    left: 30%;
    width: 70px;
    height: 30px;
    background-color: #454443;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    background-image: url('/static/icons/back.png');
}
  .toppause {
    position: fixed;
    top: 1%;
    left: 35%;
    width: 70px;
    height: 30px;
    background-color: #454443;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-image: url('/static/icons/play.png');
}
.songinfo {
    position: fixed;
    top: 0;
    left: 47%;
    color: rgb(220, 220, 210);
    font-size: 100%;
    cursor: pointer; /* Hinzugefügter CSS-Stil für den Klick */
}


/* Stil für die Buttons */
.button-container {
    position: fixed;
    top: 10%;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.seitenbutton {
    width: 70px;
    height: 70px;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

/* Icons für die Buttons */
.seitenbutton:nth-child(1) {
    background-image: url('/static/icons/haus.png');
}

.seitenbutton:nth-child(2) {
    background-image: url('/static/icons/calender.png');
}

.seitenbutton:nth-child(3) {
    background-image: url('/static/icons/controller.png');
}

.seitenbutton:nth-child(4) {
    background-image: url('/static/icons/chat.png');
}

.seitenbutton:nth-child(5) {
    background-image: url('/static/icons/music.png');
}

.seitenbutton:nth-child(6) {
    background-image: url('/static/icons/bottle.png');
}

.seitenbutton:nth-child(7) {
    background-image: url('/static/icons/settings.png');
}

/* Neuer Stil für den ausfahrbaren Kasten */
.popup {
position: fixed;
top: -100%; /* Startposition oben */
right: 4%; /* Rechts positionieren */
width: 8%;
background-color: #222; /* Dunkle Hintergrundfarbe */
border-radius: 10px;
padding: 10px;
display: none; /* Der Kasten ist anfangs versteckt */
z-index: 999; /* Damit der Kasten über anderen Elementen liegt */
color: #fff; /* Textfarbe */
animation: slideIn 0.5s forwards; /* Animation hinzufügen */
}

.popup-content {
display: flex;
flex-direction: column;
gap: 10px;
}

.close-button {
align-self: flex-end;
cursor: pointer;
color: #fff; /* Button-Textfarbe */
font-weight: bold; /* Button hervorheben */
}

.close-button:hover {
text-decoration: underline; /* Button hervorheben */
}

/* Neue Animation für das Popup */
@keyframes slideIn {
0% {
top: -100%; /* Startposition oben */
}
100% {
top: 5%; /* Zielposition nach dem Einfahren */
}
}


/* Neuer Stil für die versteckten Div-Elemente */
 .hidden-div {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Hier die gewünschte Breite eintragen */
    max-height: 80%; /* Hier die gewünschte Höhe eintragen */
    height: 80%;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

/* Stil für den aktiven Button */
.active-button {
    box-shadow: 0 0 10px #fff;
}

 table {
border-collapse: separate;
border-spacing: 0;
border-radius: 10px;
border: 2px solid #555;
overflow: hidden;
background-color: #333;
}

td {
padding: 10px;
color: #ccc;
border: 1px solid #555;
}

.submit_button{
    position: fixed;
    width: 10%; 
    height: 5%;
    background-color: #454443;
    border-radius: 10px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    bottom: 10%;
    top: 90%;
    right: 43%;

}


.event_input{
    position: fixed;
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #0d0d0c;
    color: rgb(220, 220, 210);
    border: 2px solid #555;
    outline: none;
    bottom: 20%;
    bottom: 10%;
    top: 77%;
    right: 37%;
    }

.event_time{
        position: fixed;
        width: 5%;
        height: 2%;
        padding: 10px;
        font-size: 16px;
        border-radius: 25px;
        background-color: #0d0d0c;
        color: rgb(220, 220, 210);
        border: 2px solid #555;
        outline: none;
        bottom: 20%;
        bottom: 10%;
        top: 83%;
        right: 37%;
        }
    

input[type="datetime-local"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
width: 20%;
padding: 10px;
font-size: 16px;
border-radius: 5px;
background-color: #0d0d0c;
color: rgb(220, 220, 210);
border: 2px solid #555;
outline: none;
}

input[type="submit"],
input[type="button"] {
width: 20%;
padding: 10px;
font-size: 16px;
border-radius: 5px;
background-color: #0d0d0c;
color: rgb(220, 220, 210);
border: 2px solid #555;
outline: none;
cursor: pointer;
}

#events {
width: 80%; /* Ändere die Breite entsprechend deinen Anforderungen */
margin-left: auto;
margin-right: auto;
}

#mate_container {
    height: 100%;
    width: 100%;
    display: flex;
}

#mate_kiste {
    width: 12.5%;
}

#mate_kiste td {
    position: relative;
    padding: 0;
}

#mate_kiste td button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#chat-container {
    max-height: 80%;
}

#chatBox {
    max-height: 600px;
    border: 1px solid white;
}

.chat-message {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.chat-message-content {
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  flex-grow: 1;
  text-align: left;
}

.chat-message-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  flex-shrink: 0;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  width: 10%;
}

.chat-message-author {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.chat-message-timestamp {
  font-size: 10px;
  color: #888;
}


/* CSS für die Bearbeitungsbuttons beim planer */
.button-wrapper {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block; 
    position: relative; 
    width: 20px; 
    height: 20px; 
  }
  
  .button-wrapper img {
    width: 100%;
    height: 100%;
    background-color: transparent; 
    vertical-align: middle; 
  }
  
  .button-wrapper:first-child {
    margin-right: 5%; 
  }
  
  .button-wrapper:last-child {
    margin-left: 5%;
  }
  
  