body {
    margin: 0;
    padding: 0;
    background-color: #0d0d0c;
    color: #635e5c;
}

/* Oberer Balken, der Infos anzeigt*/
header {
    background-color: #333;
    height: 5%;
    width: 100%;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

#tempstat::before {
    content: "";
    background: url('/static/icons/temperatur.png') no-repeat 0 0;
    background-size: auto 100%;
    width: 30px;
    height: 70%;
    display: inline-block;
}

#ramstat::before {
    content: "";
    background: url('/static/icons/ram.png') no-repeat 0 0;
    background-size: auto 100%;
    width: 30px;
    height: 70%;
    display: inline-block;
}

#cpustat::before {
    content: "";
    background: url('/static/icons/cpu.png') no-repeat 0 0;
    background-size: auto 100%;
    width: 30px;
    height: 70%;
    display: inline-block;
}

main {
    top: 5%;
}

.content {
    margin-top: 2%;
    padding: 20px;
}

/* Optionaler Stil für den Seiteninhalt */
h1 {
    color: #635e5c;
    text-align: center;
    text-shadow: 2px 2px 4px #800000;
}

p {
    color: #ccc;
}

/*Systeminformationen im Balken*/
.stat {
    position: fixed;
    top: 0;
    color: rgb(220, 220, 210);
    font-size: 100%;
    cursor: pointer; /* Hinzugefügter CSS-Stil für den Klick */
}

.logo {
    position: fixed;
    top: 0;
    left: 0.5%;
    height: 5%;
}

/*Musik steuerung im Balken*/
 #skip_song_button {
    width: 70px;
    height: 100%;
    background-color: #454443;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-image: url('/static/icons/next.png');
}

.song_button {
    width: 70px;
    height: 100%;
    background-color: #454443;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}
#previous_song_button {
    background-image: url('/static/icons/back.png');
}

#toggle_play_button {
    background-image: url('/static/icons/play.png');
}

.songinfo {
    position: fixed;
    top: 0;
    left: 47%;
    color: rgb(220, 220, 210);
    font-size: 100%;
    cursor: pointer; /* Hinzugefügter CSS-Stil für den Klick */
}


/* Stil für die Buttons */
.button-container {
    position: fixed;
    top: 10%;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.seitenbutton {
    width: 70px;
    height: 70px;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

/* Icons für die Buttons */
/* Neuer Stil für den ausfahrbaren Kasten */
.popup {
    position: fixed;
    top: -100%; /* Startposition oben */
    right: 4%; /* Rechts positionieren */
    width: 8%;
    background-color: #222; /* Dunkle Hintergrundfarbe */
    border-radius: 10px;
    padding: 10px;
    display: none; /* Der Kasten ist anfangs versteckt */
    z-index: 999; /* Damit der Kasten über anderen Elementen liegt */
    color: #fff; /* Textfarbe */
    animation: slideIn 0.5s forwards; /* Animation hinzufügen */
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-button {
    align-self: flex-end;
    cursor: pointer;
    color: #fff; /* Button-Textfarbe */
    font-weight: bold; /* Button hervorheben */
}

.close-button:hover {
    text-decoration: underline; /* Button hervorheben */
}

/* Neue Animation für das Popup */
@keyframes slideIn {
    0% {
        top: -100%; /* Startposition oben */
    }
    100% {
        top: 5%; /* Zielposition nach dem Einfahren */
    }
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border: 2px solid #555;
    overflow: hidden;
    background-color: #333;
}

td {
    padding: 10px;
    color: #ccc;
    border: 1px solid #555;
}

/* Planer */

#planer button {
    margin-top: 1%;
}

#planer dialog {
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
}

#event_input{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #0d0d0c;
    color: rgb(220, 220, 210);
    border: 2px solid #555;
    outline: none;
}

#event_time{
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        background-color: #0d0d0c;
        color: rgb(220, 220, 210);
        border: 2px solid #555;
        outline: none;
        margin-top: 5px;
}

.dialog_control {
    background-color: #454443;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin-top: 5px;
}

.dialog_control:hover {
    background-color: #333;
}

/* Ende Planer */

/* Games */

#games table {
    display: none;
    margin-top: 1%;
    border: none !important;
}

#games label {
    text-decoration: underline;
    font-size: 20px;
}
#games input[type=radio]:checked + label {
    font-weight: bold;
}

#games input[type=radio]:checked + label::before {
    content: "> ";
}


#punkte_button:checked ~ #punkte_table {
    display: block;
}

#zeit_button:checked ~ #zeiten_table {
    display: block;
}

#teams_button:checked ~ #teams_table {
    display: block;
}

/* Ende Games */

input[type="number"],
input[type="email"],
input[type="password"],
textarea {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #0d0d0c;
    color: rgb(220, 220, 210);
    border: 2px solid #555;
    outline: none;
}

input[type="submit"],
input[type="button"] {
width: 20%;
padding: 10px;
font-size: 16px;
border-radius: 5px;
background-color: #0d0d0c;
color: rgb(220, 220, 210);
border: 2px solid #555;
outline: none;
cursor: pointer;
}

#events {
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

#mate_container {
    height: 100%;
    width: 100%;
    display: flex;
}

#mate_kiste {
    width: 12.5%;
}

#mate_kiste td {
    position: relative;
    padding: 0;
}

#mate_kiste td button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#chat-container {
    max-height: 80%;
}

#chatBox {
    max-height: 600px;
    border: 1px solid white;
}

.chat-message {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.chat-message-content {
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  flex-grow: 1;
  text-align: left;
}

.chat-message-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  flex-shrink: 0;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  width: 10%;
}

.chat-message-author {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.chat-message-timestamp {
  font-size: 10px;
  color: #888;
}


/* Planer */
.button-wrapper {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block; 
    position: relative; 
    width: 20px; 
    height: 20px; 
  }
  
  .button-wrapper img {
    width: 100%;
    height: 100%;
    background-color: transparent; 
    vertical-align: middle; 
  }
  
  .button-wrapper:first-child {
    margin-right: 5%; 
  }
  
  .button-wrapper:last-child {
    margin-left: 5%;
  }

}
#next {
    position: fixed;
    top: 15%;
    left: 55%;
    width: 70px;
    height: 30px;
    padding: 30px;
    background-color: #454443;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-image: url('/static/icons/next.png');
}
  #back {
    position: fixed;
    top: 15%;
    left: 35%;
    width: 70px;
    height: 30px;
    padding: 30px;
    background-color: #454443;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    background-image: url('/static/icons/back.png');
}
  #play{
    position: fixed;
    top: 15%;
    left: 45%;
    width: 70px;
    height: 30px;
    padding: 30px;
    background-color: #454443;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-image: url('/static/icons/play.png');
}

#mate_reset {
    background-color: #454443;
    position: fixed;
    width: 10%; 
    height: 5%;
    border-radius: 10px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    bottom: 10%;
    top: 15%;
    right: 45%;
  
}

#mate_hinzu {
    background-color: #454443;
    position: fixed;
    width: 20%; 
    height: 5%;
    border-radius: 10px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    bottom: 10%;
    top: 25%;
    right: 41%;
  
}

#save_settings {
    position: fixed;
    width: 10%; 
    height: 5%;
    background-color: #0f9225;
    border-radius: 10px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    bottom: 10%;
    top: 90%;
    right: 32%;
}

#abort_settings{
    position: fixed;
    width: 10%; 
    height: 5%;
    background-color: #af0a0a;
    border-radius: 10px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    bottom: 10%;
    top: 90%;
    right: 43%;
}

#reset_settings{
    position: fixed;
    width: 10%; 
    height: 5%;
    background-color: #454443;
    border-radius: 10px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    bottom: 10%;
    top: 90%;
    right: 54%;
}

select {
    background-color:#454443; ;
}

.nav_button + label {
    cursor: pointer;
    background-color: #333;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: white 1px solid;
    margin-left: 2%;
    margin-top: 1%;

}

.nav_button:checked + label {
    background-color: #454443;
    border: white 2px solid;
    box-shadow: 0 0 10px #fff;
}

input[type=radio] {
    display: none;
}

#home_button:checked ~ #home,
#planer_button:checked ~ #planer,
#games_button:checked ~ #games,
#chat_button:checked ~ #chat,
#music_button:checked ~ #music,
#mate_button:checked ~ #mate,
#settings_button:checked ~ #settings {
    display: block;
}

article {
    display: none;
    position: fixed;
    top: 13%;
    left: 10%;
    width: 80%;
    background-color: #333;
    border-radius: 10px;
    padding: 2%;
}

#home_button + label {
    content: url('/static/icons/haus.png');
}

#planer_button + label {
    content: url('/static/icons/calender.png');
}

#games_button + label {
    content: url('/static/icons/controller.png');
}

#chat_button + label {
    content: url('/static/icons/chat.png');
}

#music_button + label {
    content: url('/static/icons/music.png');
}

#mate_button + label {
    content: url('/static/icons/bottle.png');
}

#settings_button + label {
    content: url('/static/icons/settings.png');
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: rgb(220, 220, 210);
    text-align: center;
}
